{% extends "base.html" %}
{% load static %}

{% block title %}${% endblock %}

{% block nav %}{% endblock %}

{% block content %}
  <div class="home">
    <div class="home__hero">
      <h1>αlpha βeta ιota</h1>
      <h2>A Stock Trading Simulation Game</h2>
      <p>Compete with friends or play solo using real market data</p>
      <a href="{% url 'signup' %}" class="btn btn--inverse btn--large">
        Start Playing!
      </a>
    </div>

    <div class="home__features cf">
      <div class="home__features__list">
        <h2>What's in the box</h2>

        <ul>
          <li>So</li>
          <li>Many</li>
          <li>Awesome</li>
          <li>Things</li>
        </ul>
      </div>
      <div class="home__features__screen">
        <img src="{% static 'images/home_screen.png' %}" />
      </div>
    </div>
  </div>
{% endblock %}
